*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.layout{
    display:flex;
    height: 100vh;
}
.sidebar{
    background-color: rgb(1, 182, 253);
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    height: 100vh;
}
.dashboard{
    display:flex;
    gap: 30px;
    justify-content: center;
    
    padding-top: 30px;
}
.group1{
    
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: left;
    margin-left: 20px;
    
}
.home-item{
    display: flex;
    gap: 30px;
    align-items: center;
}
.group2{
    
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: left;
    
}
.header{
    width: 100%;
    max-width: 100%;
    
}
.main-area{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap:30px;
    height:75px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    
}
.left-section{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 30px;
}
.search-box{
    display: flex;
    flex:1;
}
.search-box input{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    flex: 1;
    max-width: none;
    height: 20px;
}
.top2{
    display: flex;
    align-items: center;
    gap: 30px
}
.profile-pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.bottom{
   
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.bottom-section{
   
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
    align-items: center;
}
.profile-name{
    font-size: 25px;
    font-weight: bold;
}
.bottom-section2{
    display: flex;
    justify-content: center;
    gap: 30px;
   width: 350px;
   
    
}
button{
    background-color: #1DA1F2;
    
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.main-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    background-color: rgb(230, 228, 228);
    
}
.headline{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin: 20px;
    font-size: 20px;
}
.wrapper{
    display: flex;
    gap: 100px;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    margin-left: 40px;
    height: 700px;
    width: 1200px;
     
    
}
.boxes > div{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;  
    background-color: white;
}
.announcents{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 700px;
    gap: 20px;
    
}
.block,.new-box {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; 
    
}
.Trending{
    width: 300px;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

